<div class="content-category">
  <mat-card class="category-card">
      <div class="align-center category-explanation">
        <h2>Cadastro de Categorias de Despesas!</h2>
        <p>
            Aqui, você tem o poder de organizar melhor suas finanças pessoais. O cadastro de categorias é uma ferramenta essencial para ajudá-lo a entender melhor como e onde você gasta seu dinheiro. Vamos simplificar seu controle financeiro com categorias personalizadas que refletem seus gastos rotineiros.
        </p>
        <strong class="ajust-margin-text" >Como Funciona?</strong>
        <p>
            Você pode criar categorias para cada tipo de despesa que tem regularmente. Por exemplo: <br>
            <strong>Alimentação:</strong> Inclua aqui gastos com supermercado, restaurantes, lanches etc.<br>
            <strong>Transporte:</strong> Despesas com transporte público, táxi, aplicativos de carona, etc.<br>
            <strong>Combustível:</strong> Registre seus gastos com gasolina, diesel, etanol ou eletricidade para veículos.<br>
            <strong>Casa:</strong> Contas de água, luz, internet, aluguel ou manutenção doméstica.<br>
            E muitas outras categorias que se ajustam ao seu estilo de vida e padrão de consumo.
        </p>
      </div>

      <div class="align-input-button">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Categorias</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Categoria" class="border">
        </mat-form-field>

        <span routerLink="/categories" routerLinkActive="selected" class="btn-access">Enviar</span>
      </div>

  </mat-card>
</div>
