<div class="content-register">
  <mat-card class="register-card">
      <mat-card-header class="align-center">
          <mat-card-title>Cadastro</mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <form class="register" [formGroup]="formGroup">
              <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="name" placeholder="Nome" class="border">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="email" placeholder="Email" class="border">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field">
                <mat-label>Selecione um plano:</mat-label>
                <mat-select formControlName="plan">
                  <mat-option value="Plano Básico">Plano Básico</mat-option>
                  <!-- <mat-option value="Plano Premium">Plano Premium</mat-option>
                  <mat-option value="Plano Elite">Plano Elite</mat-option> -->
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Telefone</mat-label>
                  <input matInput type="tel" formControlName="phone" placeholder="Telefone" class="border" [appPhoneMask]="'11'">
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Senha</mat-label>
                  <input matInput type="password" formControlName="password" placeholder="Senha" class="border">
              </mat-form-field>

              <button mat-flat-button type="submit" (click)="register()">Cadastrar</button>
          </form>
      </mat-card-content>

      <mat-card-actions>
          <span class="login-text">Já possui uma conta? <a href="/login">Entrar</a></span>
      </mat-card-actions>
  </mat-card>
</div>
