<div class="background-card-color">
  <div class="align-row">
    <div class="align-column">
      <img src="../../../assets/logo.png" alt="logo">
      <span class="text-logo" >De centavos a sonhos realizados - sua jornada começa aqui.</span>
    </div>

    <div class="align-column-about-us">
      <span class="text-about-us" >Sobre nós</span>
      <span class="text-resume-about-us" >Somos uma empresa fundada dentro do ambiente universitário, com uma missão clara: auxiliar os universitários na eficiente gestão de seus recursos financeiros. Compreendemos que a vida acadêmica é extremamente agitada e, frequentemente, resta pouco tempo para se dedicar às finanças pessoais. Estamos aqui para simplificar essa jornada financeira,
        permitindo que os estudantes foquem em seus objetivos acadêmicos sem preocupações financeiras</span>
    </div>
  </div>
</div>