<mat-toolbar class="mat-elevation-z4">

  <span routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Início</span>
  <span routerLinkActive="selected" *ngIf="!isLoggedIn">Planos</span>
  <span routerLink="login" routerLinkActive="selected" *ngIf="!isLoggedIn">Login</span>
  <!-- mostrar apenas com usuario logado -->
  <span routerLink="financial-analysis" routerLinkActive="selected" *ngIf="isLoggedIn">Análise Financeira</span>
  <span routerLink="account" routerLinkActive="selected" *ngIf="isLoggedIn">Conta</span>
  <!-- mostrar apenas com usuario logado -->
  <span routerLinkActive="selected">Redes Sociais</span>

</mat-toolbar>
